<section class="py-5 mt-5 text-center text-white">
    <div class="row">
        <div class="col-md-6 mt-3 pt-5">
            <h1>404 Page not found!</h1>
            <p class="lead">We are not quite sure what went wrong! You can go back by pressing the home button. Maybe
                the page you are looking for doesn't exist anymore.
            </p>
            <a href="/" class="btn btn-light">Go to home</a>
        </div>
    </div>
</section>